@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Merriweather', serif;
  font-weight: 400; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Merriweather', serif;
  font-weight: 400; }

.header {
  display: flex;
  justify-content: space-between;
  background: #f6f0f0; }
  .header .brand__logo {
    margin: 0.5rem 0 0 0.5rem; }
  .header .nav {
    display: none; }
  .header .ham__menu {
    margin: 0.5rem 0.5rem 0 0; }

#hero {
  color: #090909;
  position: relative;
  background: url("https://images.unsplash.com/photo-1554227231-54aa5db01c51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 60vh; }
  #hero .hero__text {
    position: absolute;
    top: 20vh;
    left: 0;
    padding: 1rem; }
    #hero .hero__text-title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 1; }
    #hero .hero__text-subtitle {
      padding: 0.5rem 0;
      margin-bottom: 1.5rem; }
  #hero a {
    background: #fd7e4b;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    font-weight: 700; }
    #hero a:hover, #hero a:active {
      color: #fd7e4b;
      background-color: #f1f1f1;
      transition: all 0.3s ease-in-out; }

.services {
  background: #f6f0f0; }
  .services__title {
    padding-top: 2rem;
    text-align: center; }
  .services__des {
    text-align: center;
    padding: 2rem;
    color: #848b8b; }
  .services__items {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services__items-list {
      list-style: none;
      text-align: center; }
      .services__items-list .services__item {
        margin: 1.5rem 0;
        background: #ffffff;
        padding: 2rem; }
        .services__items-list .services__item-name {
          font-size: 1.3rem;
          margin-top: 1rem; }

.work {
  margin-top: 1.5rem; }
  .work .project {
    display: flex;
    flex-direction: column; }
    .work .project__item {
      margin: 1.4rem 0 1.4rem 2rem;
      list-style: none; }
      .work .project__item-title {
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        border-bottom: 3px solid #fde18b;
        width: 40vw; }
      .work .project__item-subtitle {
        margin: 1.5rem 0 0.5rem 0;
        font-size: 1.4rem; }
      .work .project__item-des {
        padding: 0.5rem 0;
        font-size: 1.1rem;
        margin-bottom: 1rem;
        line-height: 1;
        color: #848b8b; }
      .work .project__item-btn {
        text-decoration: none;
        color: #fd7e4b;
        font-weight: 700;
        font-size: 1.2rem; }
        .work .project__item-btn::after {
          content: '\2192';
          padding-left: 0.3rem;
          font-weight: 700; }
      .work .project__item-img {
        margin-top: 4rem; }
        .work .project__item-img img {
          width: 90vw;
          height: 40vh; }

.brands {
  margin-top: 2rem;
  background: #f6f0f0; }
  .brands__title {
    padding-top: 1.5rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    color: #848b8b; }
  .brands__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center; }
    .brands__list-item {
      margin: 2.5rem 0; }
      .brands__list-item img {
        height: 10vh; }

.great {
  background: #fec106;
  color: #fdfcf7;
  padding: 2rem; }
  .great__title {
    padding-top: 3rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem; }
  .great a {
    color: #fdfcf7;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #fdfcf7;
    font-weight: 700; }
    .great a::after {
      content: ' \2192'; }

/*# sourceMappingURL=main.css.map */
