@import '../variables';

.header {
  background: $main-background;
  display: flex;
  justify-content: space-between;

  .brand {
    &__logo {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }

  .menu__btn {
    margin-right: 0.5rem;
  }

  .nav {
    display: none;
  }
}
