$main-background: #f6f0f0;
$second-background: #fec106;
$main-text-color: #090909;
$second-text-color: #848b8b;
$main-btn-color: #fd7e4b;
$secondary-color: #fde18b;

//  mixin

@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}

//  media queries
@mixin media-md {
  @media screen and(min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and(min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and(min-width: 1600px) {
    @content;
  }
}
